p {
  font-family: Lato;
}
.topic-list, .fav-topic-list{
  display: flex;
  overflow-x: scroll;
}
.topic-list > div, .fav-topic-list > div{
  width:auto;
  padding: 10px;
  background: pink;
  margin:5px;
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: 2px 3px #888888;
}
.active{
  background: black !important;
  color: white;
}
li{
  list-style-type: none;
  padding:5px;
  border: 1px solid;
  margin: 5px 0;
}