<header>
  <h1>Kankhabar-Beta</h1>
</header>
<div class="topic-list">
  <div *ngFor="let a of arr" [ngClass]="{active: a.active}" (click)="topicClk(a)">{{ a.topic }}</div>
</div>
<div *ngIf="currentSelection == 'My Fav'">
  <input type="text" [(ngModel)]="favValue"/>
  <button (click)="addFav()">Add</button>
  <div class="fav-topic-list">
    <div *ngFor="let a of favList" (click)="favtopicClk(a)">
      <span>{{ a }}</span>
      <span (click)="removeFavItem(a)">  (x) </span>
    </div>
  </div>
</div>
<ul>
  <li *ngFor="let a of topicData">
    <div>{{a.description}}</div>
  </li>
</ul>